apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

# https://github.com/kubernetes-sigs/aws-efs-csi-driver
helmCharts:
- name: aws-efs-csi-driver
  releaseName: aws-efs-csi-driver
  repo: https://kubernetes-sigs.github.io/aws-efs-csi-driver/
  version: 2.4.1
  valuesFile: values.yaml
  namespace: kube-system

resources:
- pvc.yaml
#- rbac.yaml
