apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: operators

# https://github.com/grafana-operator/grafana-operator
helmCharts:
- name: grafana-agent-operator
  releaseName: grafana-agent-operator
  repo: https://grafana.github.io/helm-charts
  version: "0.2.12"

resources:
  - https://raw.githubusercontent.com/grafana-operator/grafana-operator/master/deploy/kustomize/base/crds.yaml
