apiVersion: integreatly.org/v1alpha1
kind: GrafanaDataSource
metadata:
  name: loki-k8s
spec:
  name: loki-k8s
  datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki-headless.observability.svc.cluster.local:3100
    isDefault: false
    version: 1
    editable: true
    jsonData:
      tlsSkipVerify: true
      timeInterval: "5s"
