apiVersion: integreatly.org/v1alpha1
kind: GrafanaDataSource
metadata:
  name: prometheus-k8s
spec:
  name: prometheus-k8s
  datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus-k8s.observability.svc.cluster.local:9090
    isDefault: true
    version: 1
    editable: true
    jsonData:
      tlsSkipVerify: true
      timeInterval: "5s"
