global:
  imageRegistry: docker.io
image:
  registry: docker.io
  repository: bitnami/influxdb
  tag: 1.8.2
  debug: true
releaseName: bitnami-full-index
auth:
  enabled: false
influxdb:
  replicaCount: 3
  nodeSelector:
    testground.node.role.infra: "true"
  service:
    type: ClusterIP
    clusterIP: None
  initdbScripts:
    create_database.txt: |-
      CREATE DATABASE testground;
